*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: aqua;
    position: relative;
}

.counter {
    position: absolute;
    top: 10px;
    left: 10px;
}

.counter > p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.board {
    width: 1200px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.cards {
    width: calc(12.5% - 20px);
    height: calc(25% - 20px);
    margin: 10px;
    position: relative;
    transform-style: preserve-3d;
    transform: scale(1);
    transition: transform .5s;
}

.cards:active {
    transform: scale(0.95);
    transition: transform .1s;
}

.cards.flip {
    transform: rotateY(180deg);
}

.front_face,
.back_face {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 5px solid rgba(235, 45, 8, 0.614);
  position: absolute;
  backface-visibility: hidden;
}

.front_face {
    transform: rotateY(180deg);
}